<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <!-- Appender pour la console -->
    <appender name="Default" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="c:/logs/fr.ubo.hello.log" />
        <param name="MaxFileSize" value="100000KB" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %37c |- %m%n" />
        </layout>
    </appender>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %37c |- %m%n" />
        </layout>
    </appender>

    <!-- Appender pour un fichier -->

    <logger name="fr.ubo.hello">
        <level value="debug" />
    </logger>

    <!-- Niveau de journalisation pour la racine -->
    <root>
        <level value="error" />
        <appender-ref ref="Default" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
